<style>

    .body {
        background: #fff;        
    }

    .body::after {
        content: "";
        background: url(https://images.unsplash.com/photo-1464938050520-ef2270bb8ce8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1953&q=80);
        opacity: 0.25;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    },

    .table,
    .th,
    .td {
        border: 1px solid #ddd;
    },

    .table {
        border-collapse: collapse;
        width: 100%;
    },

    .th,
    .td {
        padding: 15px;
    }

</style>

<body class="body">
    <p> check data entered in the state, report illegal entry
    
        <table>
            <tr>
                <th>name</th>
                <th>id</th>
                <th>property_name</th>
                <th>property_area</th>
                <th>property_location</hd>
                <th>hash</th>
            </tr>
    
    
    
            {{#each data}}
            <tr>
    
                <td>{{name}}</td>
                <td>{{id}}</td>
                <td>{{property_name}}</td>
                <td>{{property_area}}</td>
                <td>{{property_location}}</td>
                <td>{{hash}}</td>
    
    
            </tr>
            {{/each}}
    
        </table>
</body>
