<style>

    .body {
        background: #fff;        
    }

    .body::after {
        content: "";
        background: url(https://images.unsplash.com/photo-1464938050520-ef2270bb8ce8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1953&q=80);
        opacity: 0.25;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    },

    .table,
    .th,
    .td {
        border: 1px solid #ddd;
    },

    .table {
        border-collapse: collapse;
        width: 100%;
    },

    .th,
    .td {
        padding: 15px;
    }

</style>

<body class="body">
    <h1> Data entered in the state. </h1>
    
        <table>
            <tr>
                <th>Name</th>
                <th>Aadhar Number &nbsp;</th>
                <th>Property Name &nbsp;</th>
                <th>Property Area &nbsp;</th>
                <th>Property Location &nbsp;</hd>
                <th>Hash</th>
            </tr>
    
    
    
            {{#each data}}
            <tr>
    
                <td>{{name}} &nbsp;</td>
                <td>{{id}} &nbsp;</td>
                <td>{{property_name}} &nbsp;</td>
                <td>{{property_area}} &nbsp;</td>
                <td>{{property_location}} &nbsp;</td>
                <td>{{hash}}</td>
    
    
            </tr>
            {{/each}}
    
        </table>
</body>
